.container {
  display: flex;
  justify-content: center;
}

.breakdown {
  margin-right: 90px;
}

.listitem1 {
  display: flex;
  justify-content: space-between;
}

.reviewlist {
  height: 500px;
  overflow-y: scroll;
}

.sort {
  display: flex;
}

.summary {
  font-weight: bold;
  font-size: large;
}

.average {
  display: flex;
}
