.relatedProductsAndComparison {
	width: 75%;
	margin: auto;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif, bold;
}

.bSectionTitle {
	font-size: 30px;
	border: 0px solid black;
}

.productInnerMat {
	height: 705px;
	padding-top: 20px;
	border: 0px solid black;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}

.product {
	margin: 3px 10px;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}

.productBox {
	height: 700px;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}

.productImage {
	display: flex;
	margin: auto;
	width: 230px;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}

.productImageMat {
	height: 350px;
	width: 300px;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	align-content: space-evenly;
	border: 0px solid black;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}

.productData {
	height: 25px;
	width: 300px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 13px;
	border: 0px solid black;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}

.productStarRating {
	height: 40px;
	width: 300px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 13px;
	border: 0px solid black;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}

.productAction {
	margin-bottom: 30px;
	margin-left: 280px;
	height: 15px;
	width: 15px;
	position: relative;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}

.carousel {
	overflow: hidden;
	white-space: nowrap;
}

.carouselButtonLeft {
	border: 0px solid black;
	width: 34px;
	height: 30px;
	margin: 10px 10px;
	float: left;
}

.carouselButtonRight {
	border: 0px solid black;
	width: 34px;
	height: 30px;
	margin: 10px 10px;
	float: right;
}

.carouselItem {
	display: inline-block;
	height: 625px;
	margin-left: 10px;
	margin-right: 10px;
	border: 0px solid black;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}

.inner {
	white-space: nowrap;
	transition: transform 0.3s;
}

.addToOutfitButton {
	margin-left: 10px;
	margin-right: 10px;
	width: 10%;
	height: 705px;
	display: inline-block;
	border: 1px solid black;
	vertical-align: top;
	text-align: center;
}

.outfitItemAction {
	height: 15px;
	width: 15px;
	float: right;
}

.salesPrice {
	color: darkred;
}

.regularPriceOnSale {
	color: black;
	text-decoration: line-through;
}

.regularPriceOffSale {
	color: black;
}

.stars::after {
	background-color: darkkhaki;
	content: " the stars will go here &#9733;";
}

.modal {
	background-color: whitesmoke;
	position: fixed;
	top: 50%;
	left: 50%;
	overflow: hidden;
	transform: translateX(-50%) translateY(-50%);
	width: 660px;
	height: 400px;
	border: 0px solid black;
	z-index: 102;
}

.modalAction {
	position: relative;
	float: right;
	width: 50px;
	height: 50px;
	right: -16px;
	bottom: -285px;
}

.modalColumn {
	width: 220px;
	line-height: 1.3em;
	font-size: 12px;
	text-align: center;
}

.modalHeading {
	width: 660px;
	line-height: 2.8em;
	font-size: 15px;
	text-align: center;
	border-bottom: 1px solid black;
}

.modalMat {
	background-color: white;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 101;
}

.modalTitle {
	width: 660px;
	font-size: 24px;
	text-align: center;
}

.modalNotScrollable {
	margin: 10px 0 10px 0;
	background-color: whitesmoke;
}

.modalScrollable {
	background-color: whitesmoke;
	position: absolute;
	height: 300px;
	width: 674px;
	margin: 0px 0 10px 0;
	overflow-y: auto;
}
