.relatedProductMat {
	background-color: aqua;
}

.relatedProductInnerMat {
	background-color: bisque;
}

.relatedProductImage {
	height: 400px;
	width: 200px;
	padding: 40px 40px 40px 40px;
}

.relatedProductData {
	height: 25px;
	width: 200px;
	margin-top: 20px;
}

.relatedProductStarRating {
	height: 40px;
	width: 200px;
	margin-top: 40px;
}

.relatedProductComparisonOpen {
	height: 80px;
	width: 80px;
	background-color: aquamarine;
	position: absolute;
	top: 15px;
	right: 155px;
}
