.productMat {
	background-color: aqua;
	border: 3px solid black;
}

.productInnerMat {
	height: 740px;
	padding-top: 20px;
	background-color: bisque;
	border: 3px solid black;
}

.product {
	width: 20%;
	display: inline-block;
	background-color: greenyellow;
	margin: 3px 10px;
	border: 3px solid black;
}

.productImage {
	height: 400px;
	width: 275px;
	padding: 40px 40px 40px 40px;
	margin-top: 15px;
}

.productData {
	height: 25px;
	width: 355px;
}

.productStarRating {
	height: 40px;
	width: 355px;
}

.productAction {
	margin-top: 15px;
	margin-left: 335px;
	position: relative;
}

.carouselButton {
	position: relative;
	background-color: greenyellow;
	border: 3px solid black;
	top: -320px;
	width: 34px;
	height: 300px;
	margin: 0 3px;
}

.addToOutfitButton {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	top: -321px;
	width: 20%;
	height: 400px;
	display: inline-block;
	background-color: greenyellow;
	border: 3px solid black;
}

.salesPrice {
	color: darkred;
}

.regularPrice {
	color: black;
	text-decoration: line-through;
}
